<mat-tab-group>
    <mat-tab label="Estados">
        <app-list-status #listStatusComponent [statusDocument]="statusDocument" (update)="onUpdate()"></app-list-status>
    </mat-tab>

    <mat-tab label="Adjuntos">
        <app-list-attachment [listAttachment]="listAttachment"></app-list-attachment>
    </mat-tab>

    <mat-tab label="Certificados">
        <app-list-certificate #listCertificateComponent [listCertificate]="listCertificate" (update)="onUpdate()">
        </app-list-certificate>
    </mat-tab>
</mat-tab-group>