.card-category {
  font-weight: bold !important;
  // color :  #5e72e4 !important;
}

.text-finalized-states {
  color: #5e72e4 !important;
}

.text-observed-states {
  color: #e04a2f !important;
}

.text-processing-states {
  color: #dcaa2b !important;
}

.card-title {
  font-weight: bold !important;
}
