input[type='file'] {
  display: none;
}

.btn {
  font-size: 12px !important;
  background: transparent !important;
  font-family: 'Poppins';
}

.btn {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 12px 14px;
  font-size: 16px;
  cursor: pointer;
}

.info {
  border-color: #5e72e4;
  color: #5e72e4;
}

.info:hover {
  background: #5e72e4 !important;
  color: white;
}

i {
  background: transparent !important;
}

ngx-doc-viewer {
  .p {
    color: black;
  }
}
