@import './assets/custom-styles/general.scss';

@import './assets/custom-styles/dark-theme.scss';

swal {
  display: none !important;
}

mat-paginator {
  border-radius: 3px;
}

@import './app/core/directives/mat-table-responsive/mat-table-responsive.directive.scss';

mat-datepicker-toggle {
  outline: none !important;
}

.mat-mdc-focus-indicator {
  outline: none !important;
}

.mat-ripple.mat-mdc-button-ripple {
  outline: none !important;
}
.mat-mdc-button-touch-target {
  outline: none !important;
}

.mat-mdc-button-persistent-ripple {
  outline: none !important;
}

.mdc-icon-button {
  outline: none !important;
}

ngx-doc-viewer {
  p {
    color: black !important;
  }
}
